* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'Lexend Deca', sans-serif;
    
    background-color: hsl(233, 47%, 7%);
    box-sizing: border-box;
}
.container {
    margin: 20px;
    box-sizing: border-box;
}
.card{
    background-color: hsl(244, 38%, 16%);
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;
}
.image {
    background-image: url(./images/image-header-mobile.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    width: auto;
    border-radius: 10px 10px 0 0;
}
.overlay {
    width: 100%;
    height: inherit;
    background-color: hsla(277, 64%, 61%,0.5);
    border-radius: 10px 10px 0 0;
}
h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 50px;
    margin: 30px;
}
p {
    color: #fff;
    opacity: 0.7;
    margin: 30px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
}
ul span{
    display: block;
    color: #fff;
    font-size: 1.9rem;
    text-transform: lowercase;
    opacity: 1;
    margin-bottom: 10px;
}
ul li {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 30px;
}

span{color:hsl(277, 64%, 61%);}
.attribution { font-size: 11px; text-align: center; color: hsl(0, 0%, 100%); padding-bottom: 20px;}
.attribution a { color: hsl(228, 45%, 44%); }

@media(min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .card {
        padding: 0;
        box-sizing: border-box;
        max-height: 500px;
        max-width: calc(540*2);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row-reverse;
    }
    .content-box {
        width: 540px;
        text-align: start;
        padding: 50px;
        box-sizing: border-box;
    }
    .image {
        margin: 0;
        background-image: url(./images/image-header-mobile.jpg);
        border-radius: 0 10px 10px 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 540px;
        height: 500px;
    }
    .overlay {border-radius: 0 10px 10px 0;}
    ul {
        display: flex;
        padding: 50px;
        justify-content: space-between;
    }
}