@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}



.content-container {
  background-color: #003142;
  color: white;
  text-align: center;
  padding-top: 3rem;
}

.title-container h1 {
  font-size: 3rem;
  font-weight: bold;
}

.title-container p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.733);
}

img {
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.login-container h1 {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column; 
  width: 100%;
}

label {
  margin-bottom: 0.5rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}
.input {
  border-radius: 7px;
border: 2px solid rgb(204, 204, 204);
  height: 50px;
  padding: 10px;
  margin-bottom: 1rem;
}

span {
  text-decoration: underline;
  color: #003142;
  cursor: pointer;
  font-weight: bold;
}
.btn {
  background-color: #003142;
  border-radius: 5px;
  color: #fff;
  border: none;
  height: 45px;
}


@media screen and (min-width: 768px) {
  html, body {
    height: 100%;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    
    flex-direction: row;
  }
  img {
    width: 50%;
  }
}
  
